<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- xml 주석문 기호, 초기화 파라미터 설정 -->
<context-param>
	<description>로킹정보</description> <!-- 파라미터 설면 =>필수아님 -->
	<param-name>logEnabled</param-name> <!-- 파라미터 이름  -->
	<param-value>true</param-value> <!-- 파라미터 값 -->
</context-param>

<context-param>
	<description>디버깅레벨</description>
	<param-name>debugLevel</param-name>
	<param-value>5</param-value>
</context-param>
</web-app>