<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- xml 주석문 기호, 초기화 파라미터 설정 -->
<context-param>
	<description>로킹정보</description> <!-- 파라미터 설면 =>필수아님 -->
	<param-name>logEnabled</param-name> <!-- 파라미터 이름  -->
	<param-value>true</param-value> <!-- 파라미터 값 -->
</context-param>

<context-param>
	<description>디버깅레벨</description>
	<param-name>debugLevel</param-name>
	<param-value>5</param-value>
</context-param>

<!--  해당 경로에 파일 없음, 404 에러  코드 처리 -->
	<error-page>
		<!-- 한개의 에러 페이지 지정 -->
		<error-code>404</error-code><!-- 에러 상태 코드  -->
		<location>/error/error404.jsp</location><!-- 에러 페이지가 사용할 jsp 파일 경로 -->
	</error-page>
<!-- 서버 내부 에러 500 : 영문, 대소문자 잘못, 오타 입력시 발생 -->	
	<error-page>
		<error-code>500</error-code><!-- 에러 상태 코드  -->
		<location>/error/error500.jsp</location><!-- 에러 페이지가 사용할 jsp 파일 경로 -->
	</error-page>
<!-- NullPointerExcep 예외 오류 처리 -->	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type><!-- 에러 상태 코드  -->
		<location>/error/errorNullPoint.jsp</location><!-- 에러 페이지가 사용할 jsp 파일 경로 -->
	</error-page>
	
<!-- 코드 조각 자동 포함 기능 -->	
	<jsp-config>
	<jsp-property-group>
			<url-pattern> /view/*</url-pattern>
			<!-- url pattern : 웹 주소창에서 실행되는 주소값. 이것을 MVC 매핑주소라고 부른다 -->
			<include-prelude>/common/variable.jspf</include-prelude>
			<!-- jsp 파일 앞에 삽입할 파일 지정 ( / : 절대 경로 지정) -->
			<include-coda>/common/footer.jsp</include-coda>
			<!-- url pattern에서 지정한 jsp 파일의 뒷부분에 삽입할 파일 지정 -->
		</jsp-property-group>
	</jsp-config>



</web-app>